<h1>Películas Arrendadas por <%= @cliente.nombre %></h1>

<% if @arriendos.any? %>
  <ul>
    <% @arriendos.each do |arriendo| %>
      <li><%= arriendo.pelicula.titulo %></li>
    <% end %>
  </ul>
<% else %>
  <p>No tiene películas arrendadas.</p>
<% end %>

<h2>Agregar Película Arrendada</h2>

<%= form_with(model: @arriendo_pelicula, url: agregar_pelicula_cliente_path(@cliente), local: true) do |form| %>
  <div class="field">
    <%= form.label :pelicula_id %>
    <%= form.collection_select :pelicula_id, Pelicula.all, :id, :titulo %>
  </div>

  <div class="actions">
    <%= form.submit 'Agregar' %>
  </div>
<% end %>


